#desktop-background {

    position: fixed;

    inset: -40px;

    z-index: -2;

    background-position: center;

    background-size: cover;

    background-repeat: no-repeat;

    filter: blur(30px);

    transform: scale(1.1);

}
#desktop-background::after {

    content: "";

    position: absolute;

    inset: 0;

    background:
        rgba(0, 0, 0, 0.55);

}